<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practice.order.domain.OrderRepository">

    <resultMap id="order" type="order">
        <id property="orderId"                  column="orderId"/>
        <association property="buyer"           javaType="com.example.practice.member.domain.Member">
            <id property="memberSequence"       column="memberSequence"/>
            <result property="memberId"         column="buyerId"/>
        </association>
        <association property="totalPrice" resultMap="money" />
        <collection property="orderLines" ofType="com.example.practice.order.domain.OrderLine">
                <id property="orderLineId"          column="orderLineId"/>
                <association property="product"     javaType="product">
                    <id property="productId"        column="productId"/>
                    <result property="productName"  column="productName"/>
                </association>
        </collection>
    </resultMap>

    <resultMap id="money" type="com.example.practice.product.domain.Money">
        <constructor>
            <arg  column="totalPrice" javaType="java.math.BigInteger" ></arg>
        </constructor>
    </resultMap>

    <insert id="saveOrder" parameterType="com.example.practice.order.domain.Order"
            useGeneratedKeys="true"  keyProperty="orderId" >
      INSERT INTO orders
        (orderId, memberId, totalPrice)
      VALUES
        (#{orderId}, #{buyer.memberId}, #{totalPrice.price})
    </insert>

    <insert id="saveOrderLines" parameterType="order">
        INSERT INTO order_lines
            (orderId, productId)
        VALUES
            <foreach collection="orderLines" item="orderLine" open="(" separator="),(" close=")">
                #{orderId}, #{orderLine.product.productId}
            </foreach>
    </insert>

    <select id="findByIdWithOrderLines" parameterType="java.lang.Long" resultMap="order">
        SELECT
            o.orderId,
            o.totalPrice,
            m.memberSequence,
            m.memberId AS buyerId,
            l.orderLineId,
            p.productId,
            p.productName
        FROM orders o
            INNER JOIN members m ON o.memberId = m.memberId
            INNER JOIN order_lines l ON o.orderId = l.orderId
            INNER JOIN products p ON l.productId = p.productId
        WHERE
           o.orderId = #{orderId}
    </select>
</mapper>