<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practice.order.domain.OrderRepository">

    <resultMap id="order" type="order">
        <id property="orderId"                  column="orderId"/>
        <association property="buyer"           javaType="com.example.practice.member.domain.Member">
            <id property="memberSequence"       column="memberSequence"/>
            <result property="memberId"         column="memberId"/>
        </association>
        <collection property="orderProducts"     javaType="com.example.practice.product.domain.Product">
            <id property="productId"             column="productId"/>
            <result property="productName"       column="productName"/>
            <association property="price"  javaType="com.example.practice.product.domain.Money">
                <constructor>
                    <arg  column="price" javaType="java.math.BigInteger" ></arg>
                </constructor>
            </association>
        </collection>
    </resultMap>

    <insert id="saveOrder" parameterType="com.example.practice.order.domain.Order"
            useGeneratedKeys="true"  keyProperty="orderId" >
      INSERT INTO orders
        (orderId, memberId, totalPrice)
      VALUES
        (#{orderId}, #{buyer.memberId}, #{totalPrice.price})
    </insert>

    <insert id="saveOrderLines" parameterType="order">
        INSERT INTO order_lines
            (orderId, productId)
        VALUES
            <foreach collection="orderLines" item="orderLine" open="(" separator="),(" close=")">
                #{orderId}, #{orderLine.productId}
            </foreach>
    </insert>

    <select id="findOrderHistoryByOrderId" parameterType="java.lang.Long" resultMap="order">

    </select>
</mapper>