<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.practice.category.domain.Category" alias="category"/>
        <typeAlias type="com.example.practice.order.domain.Order" alias="order"/>
        <typeAlias type="com.example.practice.product.domain.Product" alias="product"/>
    </typeAliases>
</configuration>